body{
	font-family: 'Open Sans', 'Helvetica', sans-serif;
}

.background { 
	background: #ddd;
}

.background2 {
	background: #34b4e3;
}

.img-portfolio {
        margin-bottom: 30px;
    }
    .img-hover:hover {
        opacity: 0.8;
    }

.center {
	text-align: center;
}

.imgWrap {
  position: relative;
  height: 200px;
  width: 257px;
}

.imgDescription {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;


  visibility: hidden;
  opacity: 0;

  /*remove comment if you want a gradual transition between states
  -webkit-transition: visibility opacity 0.2s;
  */
}


.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}

.work {
  display: inline-block;
  text-align: center;
  color: white;
  position: relative;
  border: 1px solid gray;
}

.work div {
  position: absolute;
  left: 0; top: 0;
  height: 100%; width: 100%;
  background: #6c8a9e;
  display: none;
  opacity: 0.8;
}

.work h2 {
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  margin: 0; padding: 0;
}
.work:hover div {
  display: block;
}

.test {
  display: inline-block;
  text-align: center;
  color: white;
  position: relative;
  border: 1px solid gray;
}

.test div {
  position: absolute;
  left: 0; top: 0;
  height: 100%; width: 100%;
  background: #8c7382;
  display: none;
  opacity: 0.8;
}

.test h2 {
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  margin: 0; padding: 0;
}
.test:hover div {
  display: block;
}

.gen {
  display: inline-block;
  text-align: center;
  color: white;
  border: 1px solid gray;
  position: relative;
}

.gen div {
  position: absolute;
  left: 0; top: 0;
  height: 100%; width: 100%;
  background: #58595b;
  display: none;
  opacity: 0.8;
}

.gen h2 {
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  margin: 0; padding: 0;
}
.gen:hover div {
  display: block;
}

.whee {
  display: inline-block;
  text-align: center;
  color: white;
  border: 1px solid gray;
  position: relative;
}

.whee div {
  position: absolute;
  left: 0; top: 0;
  height: 100%; width: 100%;
  background: #7c8099;
  display: none;
  opacity: 0.8;
}

.whee h2 {
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  margin: 0; padding: 0;
}
.whee:hover div {
  display: block;
}


.graphic {
  display: inline-block;
  text-align: center;
  color: white;
  position: relative;
  border: 1px solid gray;
}

.graphic div {
  position: absolute;
  left: 0; top: 0;
  height: 100%; width: 100%;
  background: #a7a9ac;
  display: none;
  opacity: 0.8;
}

.graphic h2 {
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  margin: 0; padding: 0;
}
.graphic:hover div {
  display: block;
}

.bord {
	border: 1px solid gray;
}

.gc1 {
  display: inline-block;
  text-align: center;
  color: white;
  position: relative;
  border: 1px solid gray;
}

.gc1 div {
  position: absolute;
  left: 0; top: 0;
  height: 100%; width: 100%;
  background: #9b8083;
  display: none;
  opacity: 0.8;
}

.gc1 h2 {
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  margin: 0; padding: 0;
}
.gc1:hover div {
  display: block;
}

.graphic1 {
  display: inline-block;
  text-align: center;
  color: white;
  position: relative;
  border: 1px solid gray;
}

.graphic1 div {
  position: absolute;
  left: 0; top: 0;
  height: 100%; width: 100%;
  background: #6c8a9e;
  display: none;
  opacity: 0.8;
}

.graphic1 h2 {
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  margin: 0; padding: 0;
}
.graphic1:hover div {
  display: block;
}

.gc {
  display: inline-block;
  text-align: center;
  color: white;
  position: relative;
  border: 1px solid gray;
}

.gc div {
  position: absolute;
  left: 0; top: 0;
  height: 100%; width: 100%;
  background: #51587a;
  display: none;
  opacity: 0.8;
}

.gc h2 {
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  margin: 0; padding: 0;
}
.gc:hover div {
  display: block;
}


.me {
  display: inline-block;
  text-align: center;
  color: white;
  position: relative;
  border: 1px solid gray;
}

.me div {
  position: absolute;
  left: 0; top: 0;
  height: 100%; width: 100%;
  background: gold;
  display: none;
  opacity: 0.8;
}

.me h2 {
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  margin: 0; padding: 0;
}
.me:hover div {
  display: block;
}

/* No media query since this is the default in bootstrap*/
h1 {
	font: 2rem;
	font-family: 'Open Sans', 'Helvetica', sans-serif;
	font-weight: bold;
}

.navbar-simple .brand {
 	padding-top: 15px;
	padding-bottom: 15px;
}
.navbar-simple  {
	background: #fff;
	filter: none !important;
	box-shadow: 0 2px 15px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 2px 15px rgba(0,0,0,0.15);
	-webkit-box-shadow: 0 2px 15px rgba(0,0,0,0.15);
	border-bottom: 1px solid rgba(0,0,0,0.1);
}
.navbar-simple  .nav {
	float: right;
}
.navbar-simple  .nav li a {
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #777;
	font-size: 13px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-weight: 300;
}
.navbar-simple  .nav li a:hover {
	background: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: #34b4e3;
}		
.navbar-simple  .nav li.active a {
	color: #34b4e3;
}


/*Small devices (tablets, 768px and up)*/
@media (min-width: 768px){
	h1{
		font: 4rem ;
		
	}
}

/* large devices (desktops 992 px and up)*/
@media (min-width: 992px){
	h1{
		font:  6rem ;
		
	}
}


/* extra large devices (large desktops 1200 px and up)*/
@media (min-width: 1200px){
	h1{
		font: 8rem ;
		
	}
}