/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url("https://use.typekit.net/ckk4dbr.css");
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*GENERAL*/




body {
  /*font-family: 'Rubik', sans-serif;*/
  font-family: 'Work Sans', sans-serif;
  background-color: #FFFCF2;
}

h1 {
	/*font-family: 'Lobster', serif;*/
	font-family: fatfrank,sans-serif;
font-weight: 400;
font-style: normal;
	font-size: 4rem;
}

.summary-title {
	font-size: 3rem;
}

.recipe-title {
	/*font-family: 'Lobster', serif;*/
	font-family: fatfrank,sans-serif;
font-weight: 400;
font-style: normal;
	font-size: 4rem;
}

h2 {
	/*font-family: 'Lobster', serif;*/
	font-family: fatfrank,sans-serif;
font-weight: 400;
font-style: normal;
}

h5 {
	font-weight: bold;
}


a {
	color: #14506A;
}

a:hover {
	color: #093548;
}

.mobile-title {
	font-size: 2rem;
	/*padding-bottom: 20px;*/
}

.highlight {
	/*border-bottom: 10px solid #FFF25C;*/
	text-decoration: underline;
	text-decoration-color: #FFF25C;
	text-decoration-thickness: 8px;
	text-decoration-skip-ink: none;
}

.wwwww {
	font-weight: 800;
	/*color: #124E6E*/
}

.lobster {
	/*font-family: 'Lobster', serif;*/
	font-family: fatfrank,sans-serif;
font-weight: 400;
font-style: normal;
}

.fat-frank {
	font-family: fatfrank,sans-serif;
font-weight: 400;
font-style: normal;
}

.up {
	margin-top: -3%;
}

.up-small {
	margin-top: -15px;
}

.up-large {
	margin-top: -10%;
}


.down {
	margin-top: 30px;
}

.down-small {
	margin-top: 15px;
}

.down-large {
	margin-top: 60px;
}

.shift-text {
	margin-top: 50px;
}

.spacing {
	/*margin-top: 50px;*/
	margin-bottom: 50px;
}

.img-fluid {
	border-radius: 3px;
}

.btn-primary {
	background-color: #14506A;
	/*margin: 30px;*/
	padding: 10px 25px;
	border: none;
}

.btn-nav {
	background-color: white;
	/*margin: 30px;*/
	padding: 10px 25px;
}

.btn-primary:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
	background-color: #073346;
}

.btn-secondary {
	background-color: white;
	border: 2px solid #124E6E;
	color: #124E6E;
}



/*NAVBAR*/

.logo {
	width: 250px;

}

.logo-mobile {
	width: 150px;

}

.navbar {
	/*padding: 4%;*/
	padding-top: 2%;
	padding-bottom: 6%;
}



.navbar-brand {
	/*font-family: Lobster, serif;*/
	font-family: fatfrank,sans-serif;
font-weight: 400;
font-style: normal;
}

.ml-auto {
	margin-left: auto;
}

.navbar-toggler {
	border-color: transparent !important;
}

.nav-link,
.navbar-brand {
	color: black !important;
  	border-bottom: 3px solid transparent;

}

.nav-link {
	margin: 10px 5px !important;

}

.nav-link:hover,
.nav-link:focus {
  border-bottom: 3px solid #093548;

}



.navbar .active {
	/*border-bottom: 3px solid #093548;*/
	font-weight: bold;
/*	background: #FFF25C;
	border-radius: 3px;*/
}


/*.nav-top {
	padding: 4%;
}*/

/*HOMEPAGE & PROJECT CARDS*/

.homepage-top {
	background-color: #A7D1E7;
}

.headshot {
	width: 60%;

}

.what {
	
	/*font-family: 'Rubik', sans-serif;*/
	font-family: 'Work Sans', sans-serif;
}

.skills {
	/*font-family:  'Rubik', sans-serif;*/
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
}

.skill {
	/*background-color: lightgrey;*/
	border-radius: 5px;
	border: 1px solid grey;
	padding: 10px;
	/*text-transform: uppercase;*/
	font-size: 0.8rem;
}


.card {
	margin-top: 30px;
	padding: 15px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.card:hover .btn-secondary {
	background-color: #124E6E;
	/*border: 2px solid #124E6E;*/
	color: white;
}


.project-type {
	font-style: italic;
	color: #6B6E77;
}


.project-awards {
	display: none;
	font-style: italic;
	color: #6B6E77;
}


.project-details {
	padding: 5px 10px;
}


.project-img {
	margin: 5px;
}


/*FOOTER*/

.footer {
	/*background-color: #53422A;*/
	/*color: white;*/
	/*margin-top: 30px;*/
	/*padding: 40px;*/
}


.footer a {
	/*color: white;*/
}

.footer a:hover {
	/*color: #FFECAA;*/
}

.footer-links {
	font-size: 1.5rem;
}

.footer-links a {
	color: black;
}

i {
	padding: 4px;
}

/*HEROS*/
.gatheringplate-top {
	background-color: #F4C5C5;
}

.alwayshungry-top {
	background-color: #AAC2E8;
}

.about-top {
	/*background-color: #FFECAA;*/
	background-color: #FFCE5C;
}

.voice-skill-top {
	background-color: #CCEFB3;
}

.patient-ed-top {
	background-color: #A1CE90;
}

.onsite-care-top {
	background-color: #F4C2A2;
}

.groceryoutpost-top {
	background-color: #A2D8CD;
}

.occasion-cards-top {
	background-color: #EDBF7A;
}

.photography-top {
	background-color: #DAD8F0;
}

.bites-by-bren-top {
	background-color: #ABDED8;
}

/*IMAGES*/

.in-line {
	margin-bottom: 20px;
}

/*IFRAME*/
.resp-container {
    position: relative;
    overflow: hidden;
    /*width: 100%;*/
    padding-top: 56.25%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/*CAROUSEL*/

.carousel-control-prev, 
.carousel-control-next {
	align-items: flex-end;
	bottom: 15px;
}



 

#alwaysHungrySurveyCarousel {
	padding: 0px 5%;
}

.equipment {
	font-style: italic;
}

.bottom-pad {
	padding-bottom: 5%;
}

.float-left {
	display: inline-block;
}

.in-line {
	display: inline-block;
}

.float-right {
	display: inline-block;
	margin-left: 15px;
}

.caption {
	font-size: 0.8rem;
	margin-top: -15px;
	color: #3C3C3C;
}

.stats h1 {
	font-size: 4rem;

}

.stats .card {
	box-shadow: none;
	padding: 20px 25px 15px 25px;
	margin-top: 15px;

}

.priority {
	border: 3px solid black;
}

.priority-b {
	border: 3px solid #EDBF7A;
}

.border {
	border: 1px solid black;
}


.stats .card-outline {
	box-shadow: none;
	padding: 20px 25px 15px 25px;
	margin-top: 15px;
	border: 1px solid black;
	border-radius: 5px;
	margin-bottom: 15px;
}

.stats .card-outline-job {
	box-shadow: none;
	padding: 20px 25px 15px 25px;
	margin-top: 15px;
	border: 2px solid #FF5C18;
	border-radius: 5px;
	margin-bottom: 15px;
}



.stats .card-solution {
	background-color: #EDBF7A;
	box-shadow: none;
	padding: 20px 25px 15px 25px;
	margin-top: 15px;
	border-radius: 5px;
	margin-bottom: 15px;
}

.under-space {
	padding-bottom: 50px;
}

.right {
	text-align: right;
}
