/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

/*GENERAL*/

body {
  font-family: 'Roboto', sans-serif;
  background-color: #FFFCF2;
}

h1 {
	font-family: 'Lobster', serif;
	font-size: 6rem;
}

.recipe-title {
	font-family: 'Lobster', serif;
	font-size: 4rem;
}

h2 {
	font-family: 'Lobster', serif;
}

h5 {
	font-weight: bold;
}


a {
	color: #14506A;
}

a:hover {
	color: #093548;
}

.lobster {
	font-family: 'Lobster', serif;
}

.up {
	margin-top: -3%;
}


.down {
	margin-top: 15px;
}

.shift-text {
	margin-top: 50px;
}

.spacing {
	/*margin-top: 50px;*/
	margin-bottom: 50px;
}

.img-fluid {
	border-radius: 3px;
}

.btn-primary {
	background-color: #14506A;
	margin: 30px;
	padding: 10px 25px;
	border: none;
}

.btn-primary:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
	background-color: #073346;
}



/*NAVBAR*/

.navbar-brand {
	font-family: Lobster, serif;
}

.ml-auto {
	margin-left: auto;
}

.navbar-toggler {
	border-color: transparent !important;
}

.nav-link,
.navbar-brand {
	color: black !important;
	padding: 10px 15px !important;
  	border-bottom: 3px solid transparent;

}

.nav-link:hover,
.nav-link:focus,
.navbar-brand:hover,
.navbar-brand:focus {
  border-bottom: 3px solid #093548;

}

.navbar .active {
	border-bottom: 3px solid #6FB5D3;
}

.nav-top {
	padding: 4%;
}

/*HOMEPAGE & PROJECT CARDS*/

.homepage-top {
	background-color: #A7D1E7;
}

.headshot {
	width: 45%;
}


.card {
	margin-top: 30px;
	padding: 15px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.card:hover .project-awards {
	display: block;
}

/*.card:hover .project-type {
	display: none;
}*/


.project-type {
	font-style: italic;
	color: #6B6E77;
}


.project-awards {
	display: none;
	font-style: italic;
	color: #6B6E77;
}


.project-details {
	padding: 5px 10px;
}


.project-img {
	margin: 5px;
}


/*FOOTER*/

.footer {
	/*background-color: #53422A;*/
	/*color: white;*/
	/*margin-top: 30px;*/
	/*padding: 40px;*/
}


.footer a {
	/*color: white;*/
}

.footer a:hover {
	/*color: #FFECAA;*/
}

.footer-links {
	font-size: 2rem;
}

/*HEROS*/
.gatheringplate-top {
	background-color: #F4C5C5;
}

.alwayshungry-top {
	background-color: #FFECAA;
}

.about-top {
	background-color: #FFECAA;
}

.voice-skill-top {
	background-color: #CCEFB3;
}

.patient-ed-top {
	background-color: #A1CE90;
}

.groceryoutpost-top {
	background-color: #A2D8CD;
}

.photography-top {
	background-color: #DAD8F0;
}

.bites-by-bren-top {
	background-color: #ABDED8;
}

/*IMAGES*/

.in-line {
	margin-bottom: 20px;
}

/*IFRAME*/
.resp-container {
    position: relative;
    overflow: hidden;
    /*width: 100%;*/
    padding-top: 56.25%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/*CAROUSEL*/

.carousel-control-prev, 
.carousel-control-next {
	align-items: flex-end;
	bottom: 15px;
}

 

#alwaysHungrySurveyCarousel {
	padding: 0px 5%;
}

.equipment {
	font-style: italic;
}