/*+---------------------------------------------------------+
  | COLORS                                                  |
  +---------------------------------------------------------+  */

/*YELLOW: ffc200*/
/*DARK NAVY: 2c3e50*/
/*TEAL: #23d1df*/

/*+---------------------------------------------------------+
  | MAIN                                                    |
  +---------------------------------------------------------+  */

@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800,900');


body {
  font-family: Raleway, sans-serif;
  font-size: 16px;
}

.menu-top {
  margin-top: 50px;
}

h1 {
  font-weight: 800;
  text-transform: uppercase;
}

.uppercase {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.thin {
  font-weight: 600;
}

h2 {
  font-weight: 800;
}


p {
  margin-top: 10px;
  font-size: 16px;
}

i {
  margin-right: 8px;
  margin-left: 5px;
}



.small-link {
  font-size: 0.8em;
  margin: 0;
}

.inline {
  float: left;
  margin-top: 15px;
  
}

.small-inline {
  font-size: 0.75em;
  float: left;
  margin-left: -75px;
  margin-top: 75px;
}

.role-inline {
  float: left;
}

.date-inline {
  font-size: 0.85em;
  float: left;
  margin-top: 9px;
  margin-left: 10px;
}

.clear {
  clear: both;
}

.description {
  margin-top: 20px;
  padding-left: 10px;
  line-height: 1.7;
  text-transform: none;
  border-left: 10px solid #23D1DF;
}

.spacing {
  margin-top: 30px;
  margin-bottom: 30px;
}

.small-spacing {
  margin-top: 15px;
  margin-bottom: 15px;
}


.light-caption {
  color: grey;
  text-align: center;
}

.img-responsive {
  margin-bottom: 10px;
}

/*+---------------------------------------------------------+
  | TABLE                                                   |
  +---------------------------------------------------------+  */


table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  overflow-wrap: break-word;
  hyphens: auto;
}

/*from codepen: https://codepen.io/AllThingsSmitty/pen/MyqmdM */
table tr {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}
/**/

table td, table th {
/*    border: 1px solid #cccccc;
    text-align: left;
    padding: 8px;*/
    padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.total {
    background-color: #eeeeee;
    font-weight: 700;

}

.criteria {
  font-weight: 700;
  background-color: #dddddd;
}

/*from codepen*/
@media screen and (max-width: 992px) {
  .resize-table table {
    border: 0;
  }
  .resize-table table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .resize-table table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  .resize-table table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  .resize-table table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  .resize-table table td:last-child {
    border-bottom: 0;
  }
}




/*+---------------------------------------------------------+
  | PROJECT PAGES                                           |
  +---------------------------------------------------------+  */

.ideation {
  padding-bottom: 3px;
  padding-left: 3px;
  border-bottom: 5px solid #23D1DF;
}

.thin-line {
  padding-bottom: 3px;
  padding-left: 3px;
  border-bottom: 2px solid #23D1DF;
}

/*+---------------------------------------------------------+
  | NAVBAR BOOTSTRAP CHANGES                                |
  +---------------------------------------------------------+  */

.navbar-inverse {
  background: #2c3e50;
  color: white;
}


.navbar-inverse .navbar-nav>li>a {
  border: 2px solid #2c3e50;
  color: white;
} 

.navbar-inverse .navbar-nav>li>a:focus {
  border: 2px dotted #9ecaed;
  outline: none;
  box-shadow: 0 0 10px #9ecaed;
} 

.navbar-inverse .navbar-nav>li>a:hover {
  color:#23D1DF;
}


/*BRAND*/

#brand {
  color: white;
  font-weight: 800;
  text-transform: uppercase;
  border: 2px solid #2c3e50;
  display: inline-block;
  text-decoration: none;
  padding: 12px 8px;
  margin-top: 3px;
}

#brand:hover,
#brand:focus:hover,
#brand:hover:focus {
  color: #FFC200;
   border: 2px solid #2c3e50;
   box-shadow: none;
}

#brand:focus {
  border: 2px dotted #9ecaed;
  outline: none;
  box-shadow: 0 0 10px #9ecaed;

}

/*HAMBURGER MENU*/

.navbar-inverse .navbar-toggle {
    border-color: white;
}

.navbar-inverse .navbar-toggle:hover {
    border-color: #23D1DF;
    background-color: #2c3e50;
}

.navbar-inverse .navbar-toggle:focus {
  outline: 2px dotted #9ecaed;
  box-shadow: 0 0 10px #9ecaed; 
  border-color: #23D1DF;
  background-color: #2c3e50;
}

.navbar-inverse .navbar-toggle:hover .icon-bar {
    background-color:  #23D1DF;
}

#active-tab {
  color: #FFC200;
  font-weight: 700;
  border-radius: 5px;
}


#active-tab:hover,
#active-tab:focus:hover,
#active-tabe:hover:focus {
  color: #23D1DF;
  border: 2px solid #2c3e50;
  box-shadow: none;
}

.navbar-inverse .navbar-right>li>a:active,
.navbar-inverse .navbar-right>li>a:focus:hover {
  color: #23D1DF;
  border: 2px solid #2c3e50;
  box-shadow: none
}


/*DROP DOWN TOGGLE*/
.btn-primary:focus, .btn-primary.focus {
  background-color: #2c3e50;
  border: 2px dotted #9ecaed;
  outline: none;
  box-shadow: 0 0 10px #9ecaed;
  color: white;
  font-size: 1em;
}


.dropdown-toggle {
  margin-top: 8px;
  margin-left: 2px;
  background-color: #2c3e50;
  border: 2px solid #2c3e50;
  font-size: 1em;
}

.dropdown-toggle:hover {
  background-color: #23D1DF;
  border: 2px solid #23D1DF;
  margin-left: 2px;
  color: black;
  font-size: 1em;
}
  
.btn-primary:active:hover, .btn-primary.active:hover, 
.open > .dropdown-toggle.btn-primary:hover, 
.btn-primary:active:focus, .btn-primary.active:focus, 
.open > .dropdown-toggle.btn-primary:focus, 
.btn-primary:active.focus, .btn-primary.active.focus, 
.open > .dropdown-toggle.btn-primary.focus {
  background-color: #2c3e50;
  border: 2px solid #23D1DF;
  color: white;
  font-size: 1em;
}

.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary{
  background-color: #2c3e50;
  border: 2px solid #23D1DF;
  box-shadow: none;
  color: white;
  font-size: 1em;
}


/*LI ITEMS*/
.dropdown ul li a:hover,
.dropdown ul li a:focus:hover {
  background-color: lightgrey;
  outline: none;
}

.dropdown ul li a:focus {
  outline: 2px dotted #105EB2;
}

.active-project {
  background-color: #ffc200;
}

/*+---------------------------------------------------------+
  | LOGO                                                    |
  +---------------------------------------------------------+  */

.logo {
  width: 30px;
  height: 30px;
  margin: 12px;
}


.logo-link {
  display: inline-block;
}

.logo-link:focus {
  outline: 2px dotted #9ecaed;
  box-shadow: 0 0 10px #9ecaed;

}

.logo-link .logo-hide {
  display: none;
}

.logo-link:active:hover, 
.logo-link:hover:active,
.logo-link:focus:hover {
  outline: none;
  box-shadow: none;
}

.logo-link:hover .logo-view,
.logo-link:active .logo-view{
  display: none;
  
}

.logo-link:hover .logo-hide,
.logo-link:active .logo-hide{
  display: inline-block;
}

/*+---------------------------------------------------------+
  | LANDING PAGE                                            |
  +---------------------------------------------------------+  */


#landing {
  background-color: #23D1DF;
  height: 100vh;
}

#white {
  padding: 20px;
  margin-top: 55%;
  background-color: white;
}

.title-p {
  font-size: 0.8em;
}

/*+---------------------------------------------------------+
  | SECTIONS                                                |
  +---------------------------------------------------------+  */

.section {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #D6D6D6;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 100px;
}

.section h2 {
  font-weight: 800;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 15px;
  padding-bottom: 11px;
}

.section p {
  text-transform: uppercase;
  margin-top: 10px;
  font-size: 0.8em;
  margin-left: 1%;
  padding-top: 8px;
  padding-bottom: 8px;
}



/*+---------------------------------------------------------+
  | BUTTON                                                  |
  +---------------------------------------------------------+  */

.btn-default {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 100px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid white;
  box-shadow: 0 2px 16px 0 rgba(0,0,0,0.1), 0 2px 15px 0 rgba(0,0,0,0.1);
}


.btn-default:focus {
  background-color: white;
  border: 2px dotted #105EB2;
  outline: none;
}



.btn-default:hover {
  margin-top: 19px;
  box-shadow: 0 12px 20px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.22);
  background-color: #23D1DF;
  border: 2px solid #23D1DF;
}

.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
    margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 100px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid white;
  box-shadow: 0 2px 16px 0 rgba(0,0,0,0.1), 0 2px 15px 0 rgba(0,0,0,0.1);
  background-color: white;
}

/*button down*/

.btn-down {
  height: 75px;
  width: 75px;
  margin-top: 40px;
  border-radius: 100px;
  padding: 23px;
  border: 2px solid white;
  background-color: white;
  color: black;
  box-shadow: 0 2px 16px 0 rgba(0,0,0,0.1), 0 2px 15px 0 rgba(0,0,0,0.1);
}

.btn-down:hover,
.btn-down:focus:hover {
  margin-top: 39px;
  color: #23D1DF;
  box-shadow: 0 12px 20px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.22);
}

.btn-down:focus {
  border: 2px dotted #105EB2;
  outline: none;
}

.down-i {
  margin: 0;
}



/*RESUME*/ 

.resume {
  border: 2px solid #2c3e50;
}

/*VIEW PROJECT*/

.view-project {
   border: 1px solid #2c3e50;
   color: black;
   padding: 5px 15px;
   margin-top: 10px;
   margin-bottom: 20px;
   /*border-radius: px;*/
   text-transform: uppercase;
}

.view-project:hover {
  /*background-color: #23d1df;*/
   border: 1px solid #23d1df;
  
}

.view-project:focus {
   border: 1px dotted #105EB2;
  outline: none;
}

.view-project:focus:hover,
.view-project:hover:focus {
   border: 1px solid #2c3e50;
  background-color: white;
  outline: none;
  box-shadow: none;
}

/*+---------------------------------------------------------+
  | SKILLS                                                  |
  +---------------------------------------------------------+  */

.skills {
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.skills h1 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 5.5rem;

}

.skills p {
  margin-top: 20px;
  padding-left: 10px;
  line-height: 1.7;
  margin-left: 20px;
  border-left: 10px solid #23D1DF;
}


/*+---------------------------------------------------------+
  | PROJECTS                                                |
  +---------------------------------------------------------+  */

.background_image {
  height: 450px;
  background-size: cover;
  margin-bottom: 30px;
  padding: 5%;
}

/*+---------------------------------------------------------+
  | LABS                                                    |
  +---------------------------------------------------------+  */

#labs {
  background-image: url(labs/groupwork_crop.jpeg);
}

#labs_image {
  height: 450px;
  background-size: cover;
  margin-bottom: 30px;
  background-image: url(labs/groupwork_crop.jpeg);
}

#pd-strategy {
  width: 100%;
  margin-bottom: 30px;
  background-image: url(labs/pd_strategy.png);
}



/*+---------------------------------------------------------+
  | POP UP                                                  |
  +---------------------------------------------------------+  */

#pop_up {
  background-image: url(popup/pieces_crop.jpeg);

}

#popup_image {
  height: 450px;
  background-size: cover;
  margin-bottom: 30px;
  background-image: url(popup/pieces_crop.jpeg);
  
}


.yellow-border {
  border: 7px solid #FFE698;
  padding: 15px;
  margin-top: 15px;
}

.yellow-border h4 {
  margin-top: 0px;
  margin-left: 15px;
}

/*+---------------------------------------------------------+
  | MAZE                                                    |
  +---------------------------------------------------------+  */

#maze {
  background-image: url(maze/maze_crop.png);

}

#maze_image {
  height: 450px;
  background-size: cover;
  margin-bottom: 30px;
  background-image: url(maze/maze_crop.png);
}

/*+---------------------------------------------------------+
  | PHOTOGRAPHY                                             |
  +---------------------------------------------------------+  */

#photo_image {
  height: 450px;
  background-size: cover;
  margin-bottom: 30px;
  background-image: url(photos/colorful.jpg);

}

/*+---------------------------------------------------------+
  | LILY - Alzheimers                                       |
  +---------------------------------------------------------+  */

#maze {
  background-image: url(maze/maze_crop.png);

}

#lily_image {
  height: 450px;
  background-size: cover;
  margin-bottom: 30px;
  background-image: url(wellnesstechlab/lily/lily_game.png);
}

/*+---------------------------------------------------------+
  | MODAL                                                   |
  +---------------------------------------------------------+  */

.mod {
  margin: auto;
  border-radius: 3px;
  background-color: #EDEDEDCC;
  padding: 5% 10%;
  height: 325px;
}

.mod h1 {
  border-left: 10px solid #23D1DF;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0;
}

.mod p {
  border-left: 10px solid #23D1DF;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  text-transform: none;
  font-size: 1em;
  margin-top: 0;
}

/*+---------------------------------------------------------+
  | FOOTER                                                  |
  +---------------------------------------------------------+  */

#footer {
  background-color: #2c3e50;
  padding: 20px;
  padding-top: 10px;
  color: white;
}

#footer h4 {
  padding-bottom: 10px;
  border-bottom: 2px solid #23D1DF;
  padding-left: 5px; 
  margin-top: 30px;
}

#footer p {
  text-transform: none;
  margin-top: 0;
  margin-bottom: 3px;
}

#footer img {
  height: 190px;
  width: 160px;
}

#footer a {
  color: white;
}

#footer a:hover {
  color: #23D1DF;
}



