
/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.lobster {
  font-family: 'Lobster', cursive;
  font-size: 1.5em;
}

.lobster:focus {
  color: pink !important;
}

.lobster-large {
  font-family: Lobster;
  font-size: 2em;
  padding-top: 10px;
  padding-bottom: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
}

.center {
  text-align: center;
}

i {
  margin-right: 8px;
  margin-left: 5px;
}


/*SPACING*/

.small-spacing {
  margin-top: 15px;
  margin-bottom: 15px;
}

.spacing {
  margin-top: 30px;
  margin-bottom: 30px;
}

.large-spacing {
  margin-top: 50px;
  margin-bottom: 50px;
}


/*NAV*/
.navbar {
  background: transparent !important;
  padding-top: 4%;
}

.nav-link:hover,
.nav-link:focus {
  background: #FFFFFF56;
  border-radius: 3px;

}

.nav-item {
  padding: 15px !important;

}

.right {
  justify-content: flex-end;
}



/*HERO IMAGES*/
#intro_hero {
  background-image: url(intro-image.png);
  height: 700px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  
}




/*PARALLAX*/

.parallax-window-screen {
    min-height: 600px;
    background: transparent;
}


/*+---------------------------------------------------------+
  | HOVER BOX                                            |
  +---------------------------------------------------------+  */

.hvrbox,
.hvrbox * {
  box-sizing: border-box;
}
.hvrbox {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  margin: 10px;
}
.hvrbox img {
  max-width: 100%;
  border-radius: 2px;
}
.hvrbox .hvrbox-layer_bottom {
  display: block;
}
.hvrbox .hvrbox-layer_top {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 15px;
  -moz-transition: all 0.2s ease-in-out 0s;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.hvrbox .hover-link:focus .hvrbox-layer_top {
  opacity: 1;
}

.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
  opacity: 1;
}
.hvrbox .hvrbox-text {
  text-align: center;
  font-size: 1em;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
  
  border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
  border-top: 1px solid rgba(179, 179, 179, 0.7);
  margin-top: 5px;
  padding-top: 2px;
  display: none;
}
.hvrbox.active .hvrbox-text_mobile {
  display: block;
}


/*+---------------------------------------------------------+
  | FOOTER MINIMAL                                          |
  +---------------------------------------------------------+  */

.footer-minimal {
  background-color: #2B2E2E;
  padding: 10px;

  color: white;
}

.footer-minimal h2 {
  font-family: Lobster;
}

.footer-minimal p a {
  color: #7FD1C7;
}

.footer-minimal p {
  margin: 10px;
}
