
/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.lobster {
  font-family: 'Lobster', cursive;
  font-size: 1.5em;
}


.lobster-large {
  font-family: Lobster;
  font-size: 2em;
  padding-top: 10px;
  padding-bottom: 10px;
}

body {
  font-family: 'Roboto', sans-serif;
}


.bold {
  font-weight: 900;
}


.center {
  text-align: center;
}

i {
  margin-right: 8px;
  margin-left: 5px;
}

.container .row a {
  text-decoration: underline;
  color: #14506A;
}


/*SPACING*/

.small-spacing {
  margin-top: 15px;
  margin-bottom: 15px;
}

.spacing {
  margin-top: 30px;
  margin-bottom: 30px;
}

.large-spacing {
  margin-top: 50px;
  margin-bottom: 50px;
}


/*NAV*/
.navbar {
  background: transparent !important;
  padding-top: 4%;
}

.nav-link:hover,
.nav-link:focus,
.navbar-brand:hover,
.navbar-brand:focus {
  background: #FFFFFF56;
  border-radius: 3px;

}


.nav-link,
.navbar-brand {
  padding: 15px 15px 15px 15px !important; 
}

.nav-link {
  color: #333333 !important;
}

.dropdown-menu {
  background: #FFFFFF56;
}

.active {
  border-bottom: 3px solid #30187E;
}




/*HERO IMAGES*/
#intro_hero {
  background-image: url(intro-image.png);
  height: 700px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  
}

#about_hero {
  background-image: url(about-hero.png);
  height: 700px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  
}

#caregivers_hero {
  background-image: url(caregivers/hero.png);
  height: 700px;
  width: 101%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  
}

#labs_hero {
  background-image: url(labs/hero.png);
  height: 700px;
  width: 101%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  
}

#peds_hero {
  background-image: url(hackingpeds/hero.png);
  height: 700px;
  width: 101%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  
}

#peds_game_hero {
  background-image: url(peds-game/hero.png);
  height: 700px;
  width: 101%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  
}

#gather_hero {
  background-image: url(gatheringplate/hero.png);
  height: 700px;
  width: 101%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  
}



/*PARALLAX*/

.parallax-index-screen {
    min-height: 600px;
    background: transparent;
}

.parallax-caregiver {
    min-height: 600px;
    background: transparent;
}

.parallax-sherman {
    min-height: 600px;
    background: transparent;
}


/*SPEECH BUBBLE*/
.speech-bubble-left {
  position: relative;
  background: #AFD8FA;
  border-radius: .4em;
  padding: 15px;
}

.speech-bubble-left:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 24px solid transparent;
  border-right-color: #AFD8FA;
  border-left: 0;
  margin-top: -24px;
  margin-left: -24px;
}

.speech-bubble-right {
  position: relative;
  background: #277ABE;
  border-radius: .4em;
  padding: 15px;
  color: white;
}

.speech-bubble-right:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 24px solid transparent;
  border-left-color: #277ABE;
  border-right: 0;
  margin-top: -24px;
  margin-right: -20px;
}

/*IFRAME*/
.resp-container {
    position: relative;
    overflow: hidden;
    /*width: 100%;*/
    padding-top: 56.25%;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/*+---------------------------------------------------------+
  | HOVER BOX                                            |
  +---------------------------------------------------------+  */

.hvrbox,
.hvrbox * {
  box-sizing: border-box;
}
.hvrbox {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  margin: 10px;
}
.hvrbox img {
  max-width: 100%;
  border-radius: 2px;
}
.hvrbox .hvrbox-layer_bottom {
  display: block;
}
.hvrbox .hvrbox-layer_top {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 15px;
  -moz-transition: all 0.2s ease-in-out 0s;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.hvrbox .hover-link:focus .hvrbox-layer_top {
  opacity: 1;
}

.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
  opacity: 1;
}
.hvrbox .hvrbox-text {
  text-align: center;
  font-size: 1em;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
  
  border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
  border-top: 1px solid rgba(179, 179, 179, 0.7);
  margin-top: 5px;
  padding-top: 2px;
  display: none;
}
.hvrbox.active .hvrbox-text_mobile {
  display: block;
}


/*+---------------------------------------------------------+
  | FOOTER MINIMAL                                          |
  +---------------------------------------------------------+  */

.footer-minimal {
  background-color: #2B2E2E;
  padding: 10px;

  color: white;
}

.footer-minimal h2 {
  font-family: Lobster;
}

.footer-minimal p a {
  color: #7FD1C7 !important;
}

.footer-minimal p {
  margin: 10px;
}

/*+---------------------------------------------------------+
  | PRE FOOTER                                              |
  +---------------------------------------------------------+  */

  .pre-footer {
    /*font-family: Rubik, sans-serif;*/
    background-color: #F5F5F5;
    padding: 20px;
    color: #2B2E2E;

  }

/*+---------------------------------------------------------+
  | TABLE                                                   |
  +---------------------------------------------------------+  */

  table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  overflow-wrap: break-word;
  hyphens: auto;
}

/*from codepen: https://codepen.io/AllThingsSmitty/pen/MyqmdM */
table tr {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}
/**/

table td, table th {
/*    border: 1px solid #cccccc;
    text-align: left;
    padding: 8px;*/
    padding: .625em;
    /*padding: 15px;*/
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

/*from codepen*/
@media screen and (max-width: 992px) {
  .resize-table table {
    border: 0;
  }
  .resize-table table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .resize-table table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  .resize-table table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
    margin-left: 5px;
    margin-right: 5px;
  }
  .resize-table table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  .resize-table table td:last-child {
    border-bottom: 0;
  }
}

