
/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.lobster {
  font-family: 'Lobster', cursive;
  font-size: 1.5em;
}

body {
  font-family: 'Roboto', sans-serif;
}


/*NAV*/
.navbar {
  background: transparent !important;
  padding-top: 4%;
}

.nav-link:hover {
  background: #FFFFFF56;
  border-radius: 3px;

}



/*HERO IMAGES*/
#intro_hero {
  background-image: url(intro-image.png);
  height: 700px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  
}

.right {
  justify-content: right;
}